{% extends "base.html" %}
{% load cart_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block style %}
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200&display=swap');

        body {
            font-family: 'Manrope', sans-serif;
            background: #eee;
        }

        .size span {
            font-size: 11px;
        }

        .color span {
            font-size: 11px;
        }

        .product-details {
            margin-right: 70px;
        }

        .gift-card:focus {
            box-shadow: none;
        }

        .pay-button {
            color: #fff;
        }

        .pay-button:hover,
        .pay-button:focus {
            color: #fff;
            box-shadow: none;
        }

        .text-grey {
            color: #a39f9f;
        }

        .qty i {
            font-size: 11px;
        }
    </style>
    {% endblock %}
</head>
<body>
    {% block cart %}
    <div class="container mt-5 mb-5">
        <div class="d-flex justify-content-center row">
            <div class="col-md-8 mt-5">
                <div class="p-2">
                    <h4>Shopping cart</h4>
                    <div class="d-flex flex-row align-items-center pull-right">
                        <span class="mr-1">Sort by:</span>
                        <span class="mr-1 font-weight-bold">Price</span>
                        <i class="fa fa-angle-down"></i>
                    </div>
                </div>
                {% for product, no_of_items, AddedItems, items_ids in allProds %}
                    {% if items_ids %}
                        {% for items_id in items_ids %}
                            {% get_product_details items_id as product_details %}
                            {% if product_details %}
                                <div class="d-flex flex-row justify-content-between align-items-center p-2 bg-white mt-4 px-3 rounded">
                                    <div class="mr-1">
                                        <img class="rounded" src="/media/{{ product_details.image }}" width="70" alt="{{ product_details.Product_name }}">
                                    </div>
                                    <div class="d-flex flex-column align-items-center product-details">
                                        <span class="font-weight-bold">{{ product_details.Product_name }}</span>
                                        <div class="d-flex flex-row product-desc">
                                            <div class="size mr-1">
                                                <span class="text-grey">Size:</span>
                                                <span class="font-weight-bold">&nbsp;M</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="d-flex flex-row align-items-center qty">
                                        {% get_quantity_of_each_product request items_id as quantity %}
                                        <h5 class="text-grey mt-1 mr-3 m-2">{{ quantity }}</h5>
                                    </div>
                                    <div>
                                        {% get_product_price request items_id as product_price %}
                                        <h5 class="text-grey">₹{{ product_price }}</h5>
                                    </div>
                                </div>
                            {% else %}
                                <div>
                                    <h1 class="p-2">Product not found for items_id: {{ items_id }}</h1>
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% else %}
                        <div>
                            <h2 class="p-2">No items found in the cart. Please add items</h2>
                        </div>
                    {% endif %}
                {% endfor %}
                {% for product, no_of_items, AddedItems, items_ids in allProds %}
                    {% get_total_product_price request items_ids as total_product_price %}
                    <div class="d-flex flex-row justify-content-start mt-3 p-2 bg-white rounded">
                        <h5 class="display-11">Total Amount:</h5>
                        <h5 class="display-11 mx-3">₹{{ total_product_price }}</h5>
                    </div>
                {% endfor %}
                <div class="d-flex flex-row align-items-center mt-3 p-2 bg-white rounded">
                    <input type="text" class="form-control border-0 gift-card" placeholder="Discount code/gift card">
                    <button class="btn btn-outline-warning btn-sm ml-2" type="button">Apply</button>
                </div>
                <div class="d-flex flex-row justify-content-around mt-3 p-2 bg-white rounded">
                    <a href="{% url 'address' %}" class="btn btn-success btn-block btn-lg ml-2 pay-button">Proceed to Payment</a>
                    <a href="{% url 'cart_summery' %}" class="btn btn-warning btn-block btn-lg ml-2 pay-button">Back to Cart</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}
</body>
</html>
