{% autoescape off %}

Hi  {{ user.username }},

Welcome to ShopeHere — your new go-to destination for everything shopping!

To get started, please activate your account by clicking the Link below:

👉 {{ activation_url }}

Once activated, you'll be able to:

    Browse thousands of products across categories 📦

    Get personalized deals and offers 💸

    Track orders and manage your account with ease 📲

If you didn’t sign up for ShopeHere, feel free to ignore this email — no action will be taken.

We’re thrilled to have you on board!

Happy Shopping, The ShopeHere Team www.shopehere.com
{% endautoescape %}
